<div class="resultWrapper">

  <div id="result">
    <nav class="navigation sticky">
      <a class="navbar-brand" href="/">GlobeTrotter</a>
      <a href="/" class="btn btn-primary btn-lg" id="newTrip">New Trip</a>

    </nav>
  </div>

  <div class="resultcontainer">
    <div class="row">
      {{!-- TODO: Place the weather will be: --}}
    </div>


    <div class="tabContainer">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Packing List</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Flight / Hotel</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">Activities</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          {{!-- TODO: put the packing list here --}}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          {{!-- TODO: put the flight info here --}}
          {{!-- TODO: put the hotel api here --}}
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Activities</th>
                <th scope="col">Cost</th>
                <th scope="col">Action</th>
              </tr>
              <tr>
                <form>
                  <td scope="row"><input type="text" id="input-activity" placeholder="Put your activity here" required>
                  </td>
                  <td><input type="number" id="input-cost" placeholder="Put estimated cost" required></td>
                  <td><button class="btn btn-success btn-sm" id="btn-add">Add</button></td>
                </form>
              </tr>
            </thead>
            <tbody id="activity-content">
            </tbody>
            <td scope="row">Total</td>
            <td id="totalCost"></td>
            <td></td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/result.js"></script>