.list-group-item {
  line-height: 2.5;
}

.table td, .table th {
  vertical-align: middle;
}

.homeWrapper{
  background: url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100hh;
  overflow: hidden;
}

.resultWrapper{
  background: url("../images/img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
 
/* nav bar */

.navigation{
  height: 70px;
  background:transparent;
}

.navbar-brand{
  color: green;
  font-family: Optima, sans-serif;
  font-size: 40px;
  margin-left: 20px;
}

#newTrip{
 color: white;
 background-color: green;
 font-family: Optima, sans-serif;
 font-size: 20px;
 margin-top: 11px;
 float: right;
 margin-right: 20px;
}

/* jumbotron */

#intro{
  font-family: Optima, sans-serif;
  background-color: transparent;
  color: white;
  font-size: 50px;
  margin-bottom: 0;
}

.formContainer{
  font-family: Optima, sans-serif;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

.resultContainer{
  padding-left: 0;
  background-size: cover;
  background-size: contain;
}

.tabContainer{
  margin-top: 20px;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}

#submit{
  color: white;
  background-color: green;
  font-family: Optima, sans-serif;
  float: right;
}

/* nav tab */

#nav-tabs {
  
}

.table{
  
}

